@model List<Test_Invoice_Yhra.Models.DB.InvoiceDetail>

<main class="border p-3">
    <h3>Lista detalle de factura</h3>
    <div class="d-flex justify-content-between mb-3">
        <a class="btn btn-info" asp-controller="Invoice" asp-action="Index">Regresar</a>
        @Html.ActionLink("Agregar", "Create", null, new { invoiceId = ViewBag.InvoiceId }, new { @class = "btn btn-primary"})
    </div>
    <table id="myTable" class="table table-bordered table-hover table-responsive table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Factura id</th>
                <th>Cantidad</th>
                <th>Precio</th>
                <th>Total Itbis</th>
                <th>Sub Total</th>
                <th>Total</th>
                <th>Editar</th>
                <th>Eliminar</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.InvoiceId</td>
                    <td>@item.Qty</td>
                    <td>@item.Price</td>
                    <td>@item.TotalItbis</td>
                    <td>@item.SubTotal</td>
                    <td>@item.Total</td>
                    <td>
                        @Html.ActionLink("Editar", "Edit", null, new {id = item.Id}, new { @class = "btn btn-warning"})
                    </td>
                    <td>
                        @Html.ActionLink("Eliminar", "Delete",null, null, null,null,  new { id = item.Id } , new{ @class = "btn btn-danger",})
                    </td>
                </tr>
            }
        </tbody>
    </table>
</main>
